*{
    margin: 0;
    padding: 0;
}
.full-width{
    width: 100%;
}
.container{
    width:970px;
    margin: 0 auto;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* all common css */

/* header part star */
#header{
    padding-top: 15px;
    padding-bottom: 15px;
}
.logo{
    float: left;
    width: 83px;
}
.header-text{
    float: left;
    width: 665px;
}
.header-text h3{
    padding-top: 30px;
    padding-left: 15px;
    font-size: 25px;
    color:#3ca2a2;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.phone-number{
    float: left;
    width: 222px;
}
.phone-number h3{
    padding-top: 30px;
    font-size: 30px;
    color:#c00a11; 
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

/* header part end */

/* manu part start */
#manu{
    margin-top: 90px;
    width: 100%;
    height: 50px;
    background: #c00a11;
}
.manu-item ul li{
    padding-top: 15px;
    display: inline-block;
    padding-bottom: 15px;
}
.manu-item ul li :hover{
    transition: all linear 1s;
    background: #f18d26;
}
.manu-item ul li a{
    cursor: pointer;
    text-align: center;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 400;
    padding-left: 30px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff
}
/* banner part start */
#banner{
    background: url(../images/bannerbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-section{
    display: flex;
    padding-top: 80px;
}

.banner-text h2{
    font-size: 36px;
    color: #25a6bd;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.banner-text h3{
    padding-top: 30px;
    font-size: 36px;
    color: #25a6bd;
    font-weight: 700;
    font-family: 'Roboto', sans-serif; 

}
.banner-text p{
    line-height: 22px;
    padding-top: 50px;
    font-size: 16px;
    color: #25a6bd;
    font-weight: 400;
    font-family: 'Roboto', sans-serif; 
}
.banner-btn{
    padding: 15px 20px;
    border-radius: 25px;
    margin-top: 40px;
    background: #92c7a3;
    border: none;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;  
    font-weight: 400;
    cursor: pointer;
}


/* banner part end */

/* card part start */
#card{
    padding-top: 50px;
    padding-bottom: 80px;
}
.card-item{
    margin-left: 50px;
    width: 270px;
    text-align: center;
}
.card-info{
    display: flex;
}
.card-item h3{

    font-family: 'Roboto', sans-serif; 
    font-size: 22px;
    font-weight: 700;
    color: #3ca2a2;
    padding-bottom: 25px;
}
.card-item p{
    font-family: 'Roboto', sans-serif; 
    font-size: 13px;
    font-weight: 400;
    color: #215a6d;
    padding-bottom: 15px;
}
.card-item a{
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    font-weight: 400;
    color: #92c7a3;
    padding-bottom: 30px;  
}
.card-icon{
    color: #c00a11;
    padding-right: 10px;
}

/* card part end */

/* notic part start */
#notice{
    background: #dfece6;
    padding-top: 30px;
    padding-bottom: 30px;
}
.notice-item{
    display: flex;
}

.notice-item h3{
    font-size: 29px;
    color: #215a6d;
    line-height: 52px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif; 
}
.notice-board{
    width: 470px;
}
.notice-video{
    width: 470px;
    margin-left: 30px;
}
.notice-video h3{
    font-size: 29px;
    color: #215a6d;
    line-height: 52px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif; 
}
.line{
    padding-top: 15px;
    padding-bottom: 35px;
    display: flex;
}

.line-red{
    width: 70px;
    height: 2px;
    background:#ae1010;
}
.line-white{
    width: 400px;
    height: 2px;
    background: #ffffff;
}
.news{
    text-align: center;
    display: flex;
    border-bottom: 1px solid #53b7c7;
}
.news-item{
    text-align: center;
    width: 430px;
    height: 40px;
    background: white;
}
.news-item h3{
    padding-left: 15px;
    color: #3ca2a2;
    font-size: 16px;
}
.news-icon{
    text-align: center;
    width: 55px;
    height: 30px;
    background: #c00a11;
    padding-top: 10px;
    padding-left: 10px;
}
.notice-video-content{
background: #dfece6;
}
/* notic part end */
/* event start */
#event{
    padding-top: 60px;
    padding-bottom: 60px;
}
.event-item{
    display: flex;
}
.news-event{
    width: 300px;
}
.news-event h3{
    color:#215a6d;
    font-size: 29px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif; 
}
.news-event h4{
    font-size: 18px;
    color:#3ca2a2;
    padding-bottom: 10px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif; 

}
.news-event p{
    font-size: 13px;
    color:#215a6d;
    padding-bottom: 40px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;  
}
.news-event a{
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    font-weight: 400;
    color: #92c7a3;
    padding-bottom: 30px;
 }

.news-event i{
    color: #bf0a11;
    padding-right: 10px;
    padding-bottom: 15px;
}

.medical-service{
padding-left: 30px;
width: 300px;
}
.medical-service h3{
    color:#215a6d;
    font-size: 29px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif; 
}
.medical-service h4{
    padding-top:10px ;
    font-size: 13PX;
    color: #215a6d;
    font-weight: 400;
    font-family: 'Roboto', sans-serif; 
}
.medical-service a{
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    font-weight: 400;
    color: #92c7a3;
    padding-bottom: 30px;
 }

.medical-icon i{
    color: #bf0a11;
    padding-right: 10px;
    padding-bottom: 15px;
}

.photo-gal{
    padding-left: 30px;
    width: 300px;
}
.photo-gal h3{
    color:#215a6d;
    font-size: 29px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif; 
}
.ph-gal{
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
}
.ph-gal-item-1{
 width: 140px;
}
.ph-gal-item-2{
width: 140px;
padding-left: 20px;
}
.photo-gal a{
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    font-weight: 400;
    color: #92c7a3;
    padding-bottom: 30px;
 }

.photo-gal i{
    color: #bf0a11;
    padding-right: 10px;
    padding-bottom: 15px;
}
.line-white-event{
width: 250px;
height: 2px;
background:#eaeaea;
}
/* event end*/
